# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/obj
/ipch
/Pizza.opensdf
/Pizza.sdf
/pizzaProject.vcxproj.user
/bin/pizza_debug.lib
/bin/pizza_debug_debugInfo.pdb
/bin/pizza_debug.exp
/bin/pizza_debug.ilk

/bin/data/images/*.psd

/Pizza.suo
/FX
